<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>CNIC</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.Name }}</td>
    <td>{{ user.Email }}</td>
    <td>{{ user.NIC }}</td>
    <td>{{ user.Address }}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
      <button class="btn btn-primary" (click)="setUser(user)">
        <i class="fas fa-pencil"></i>
        Edit
      </button>
    </td>
  </tr>
</table>
